/* body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: right;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }
  
  h1 {
    margin: 0;
    margin-right: 25%;
  }
  
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  form {
    margin-bottom: 20px;
    margin-bottom:20px;
  }
  #search-form {
    margin-left: 10px;
 }
  label {
    display: block;
    font-size: 20px;
    margin-left: 15px;
  }

  #city-input {
    margin-bottom: 10px; 
    margin-top: 0px;
    width: 250px;
    height: 30px;
    margin-left: 15px;
  }
  
  button {
    display: block; 
    width: 258px;
    height: 30px;
    background-color: skyblue;
    border: none;
    margin-left: 15px;
  }

  hr {
    width: 258px;
    float: left;
    margin-left: 15px;
}

.info-box {
    flex: 1;
    padding: 10px;
    border: 3px solid black;
    margin-left: 10px;
}
  
  #current-weather, #forecast, #search-history {
    margin-top: 20px;
  }

#search-history {
  margin-top: 20px;
}

#weather-container {
  display: flex;
  flex-direction: column;
}

#current-weather-box {
  text-align: left;
  margin: 20px;
  padding: 10px;
  width: 100%;
}

.weather-box {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.forecast-day {
  width: calc(100% - 10px);
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
} */

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: right;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  margin-right: 25%;
}

.main-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

form {
  margin-bottom: 20px;
}

#search-form {
  margin-left: 10px;
}

label {
  display: block;
  font-size: 20px;
  margin-left: 15px;
}

#city-input {
  margin-bottom: 10px;
  margin-top: 0px;
  width: 250px;
  height: 30px;
  margin-left: 15px;
}

button {
  display: block;
  width: 258px;
  height: 30px;
  background-color: skyblue;
  border: none;
  margin-left: 15px;
}

#search-history {
  grid-column: 1 / -1;
}

#weather-container {
  display: flex;
  flex-direction: column;
}

#current-weather-box {
  text-align: left;
  padding: 10px;
  width: 100%;
}

.weather-box {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.forecast-day {
  width: 100%;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  flex: 1;
}

#five-day-forcast {
display: flex;
justify-content: space-between;
}